* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

html {
  font-family: "Roboto Condensed", sans-serif; }

.titulos {
  text-decoration: none;
  padding: 1em;
  font-size: 1.5em;
  color: black; }

.mediana {
  font-weight: 1em; }

.margen-izquierdo {
  margin-left: 2em; }

.centrar {
  text-align: center; }

.texto {
  margin: 1em;
  text-align: justify; }

.texto::first-letter {
  font-size: 130%;
  font-weight: 600; }

.titulos-secciones {
  text-decoration: none;
  font-size: 1.5em;
  color: black; }

.logo {
  text-decoration: none;
  font-size: 2em;
  color: black;
  margin: 15px;
  font-weight: bolder;
  white-space: nowrap; }

.articulo-btn, .footer-main, .ft-social-list {
  display: flex;
  justify-content: center; }

.articulo-btn a, .articulo {
  border: 0.1em solid #68626f; }

.articulo-btn {
  margin: 10px; }
  .articulo-btn a {
    padding: 10px 20px;
    text-decoration: none;
    color: #5628ba; }

.articulo {
  text-align: center;
  padding: 1em;
  align-items: center; }
  .articulo img {
    width: 280px;
    height: 250px; }

.literatura {
  margin-top: 0.5em; }
  .literatura .articulo img {
    object-fit: cover; }

.seccion-literatura-encabezado {
  padding: 1em;
  font-weight: bolder;
  font-size: 1.8em;
  width: 100%; }
  .seccion-literatura-encabezado a {
    text-decoration: none;
    color: #250bbb; }
    .seccion-literatura-encabezado a:hover {
      color: #68626f; }

.fotografia {
  margin-top: 0.5em; }
  .fotografia .articulo img {
    object-fit: cover; }

.fotografia-pagina {
  margin-top: 0.5em;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 20px; }
  .fotografia-pagina .texto {
    margin: 2em;
    text-align: justify; }

.fotografia-pagina-articulo {
  text-align: center;
  padding: 1em; }
  .fotografia-pagina-articulo img {
    width: 40%;
    height: auto; }

.fotografia-pagina-articulo-galeria {
  margin-top: 0.5em;
  padding: 1em;
  display: flex;
  position: row;
  gap: 20px; }
  .fotografia-pagina-articulo-galeria img {
    max-width: 500px;
    margin: 0 auto; }
  @media screen and (max-width: 1024px) {
    .fotografia-pagina-articulo-galeria {
      flex-wrap: wrap; }
      .fotografia-pagina-articulo-galeria img {
        max-width: 500px;
        margin: 0 auto; } }
  @media screen and (max-width: 480px) {
    .fotografia-pagina-articulo-galeria img {
      width: 80%;
      height: auto;
      margin: 0 auto; } }

.seccion-fotografia-encabezado {
  font-weight: bolder;
  font-size: 1.8em;
  padding: 1em;
  width: 100%; }
  .seccion-fotografia-encabezado a {
    text-decoration: none;
    color: #2e6464; }
    .seccion-fotografia-encabezado a:hover {
      color: #68626f; }

.podcast {
  margin-top: 0.5em; }
  .podcast .articulo img {
    object-fit: cover; }

.podcast-pagina {
  margin-top: 0.5em;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 20px; }

.podcast-pagina-articulo {
  text-align: center;
  padding: 1em; }
  .podcast-pagina-articulo img {
    width: 400px;
    height: 400px; }
    @media screen and (max-width: 780px) {
      .podcast-pagina-articulo img {
        width: 70%;
        height: auto; } }
  .podcast-pagina-articulo .texto {
    margin: 2em;
    text-align: justify; }

.podcast-iframe {
  margin: 2em; }

.seccion-podcast-encabezado {
  font-weight: bolder;
  font-size: 1.8em;
  padding: 1em;
  width: 100%; }
  .seccion-podcast-encabezado a {
    text-decoration: none;
    color: #bd3e3e; }
    .seccion-podcast-encabezado a:hover {
      color: #68626f; }

#menu-mobile {
  display: none; }
  @media screen and (max-width: 1024px) {
    #menu-mobile {
      display: none; } }
  @media screen and (max-width: 780px) {
    #menu-mobile {
      display: none; } }
  @media screen and (max-width: 480px) {
    #menu-mobile {
      margin: 0 auto;
      display: block; } }

@media screen and (max-width: 1024px) {
  #menu-desktop {
    display: block;
    margin: 0 auto; } }

@media screen and (max-width: 780px) {
  #menu-desktop {
    display: block;
    margin: 0 auto; } }

@media screen and (max-width: 480px) {
  #menu-desktop {
    display: none; } }

.nav-flex {
  justify-content: space-between;
  align-items: center;
  flex-grow: 0 !important; }

nav {
  background: #5628ba;
  color: #fcf6f6; }
  nav ul {
    list-style: none; }
    nav ul li a {
      color: #fcf6f6;
      text-decoration: none; }
      nav ul li a:hover {
        color: #68626f; }
  nav div a:hover {
    color: #fcf6f6; }

.navbar-icono {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(19, 14, 29,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

/* ENCABEZADO IMAGEN */
.encabezado {
  width: 100%;
  height: 400px;
  position: relative;
  background: url("../assets/images/juansola.jpg") no-repeat 0 center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover; }
  @media screen and (max-width: 1024px) {
    .encabezado {
      width: auto; } }
  @media screen and (max-width: 780px) {
    .encabezado {
      width: auto;
      height: 350px; } }
  @media screen and (max-width: 480px) {
    .encabezado {
      width: auto;
      height: 250px; } }

.encabezado-btn {
  background: #fcf6f6;
  padding: 0.5em;
  position: absolute;
  left: 48%;
  top: 48%; }
  @media screen and (max-width: 780px) {
    .encabezado-btn {
      left: 38%;
      font-size: 1em; } }
  @media screen and (max-width: 480px) {
    .encabezado-btn {
      display: none; } }

.btn-flotante {
  text-decoration: none;
  color: #5628ba; }

iframe {
  margin: auto;
  display: block; }
  @media screen and (max-width: 780px) {
    iframe {
      margin: auto;
      display: block; }
      iframe a {
        width: 500;
        height: 300; } }
  @media screen and (max-width: 480px) {
    iframe {
      width: 100%;
      height: auto; } }

.mapa {
  margin: 2em; }

.mapa iframe {
  margin: auto;
  display: block; }
  @media screen and (max-width: 480px) {
    .mapa iframe {
      width: 300;
      height: 100; } }

.footer-main {
  padding: 1.25rem 1.875rem; }

.ft-social-list {
  border-top: 1px #68626f solid;
  padding-top: 1.25rem; }

.footer-title {
  color: #fcf6f6;
  padding-bottom: 0.625rem; }

footer {
  background: linear-gradient(to bottom, #5628ba, #7c5dbe);
  color: #fcf6f6;
  line-height: 1.5;
  margin-top: 1em; }
  footer ul {
    list-style: none;
    padding-left: 0; }
  footer a {
    text-decoration: none;
    color: #fcf6f6;
    font-size: 1em; }
    footer a:hover {
      color: #68626f; }
    @media screen and (max-width: 780px) {
      footer a {
        font-size: 1em; } }

.footer-main-item {
  padding: 1.25rem;
  min-width: 12.5rem; }
  @media screen and (max-width: 1024px) {
    .footer-main-item {
      display: none; } }
  @media screen and (max-width: 780px) {
    .footer-main-item {
      display: none; } }
  @media screen and (max-width: 480px) {
    .footer-main-item {
      display: none; } }

form {
  display: flex;
  flex-wrap: wrap; }
  form input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem; }
  form input[type="submit"] {
    background-color: #fcf6f6;
    color: #5628ba;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem; }

.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #68626f; }
  @media screen and (max-width: 480px) {
    .ft-legal ul li a {
      display: none; } }

.ft-legal-list {
  width: 100%;
  display: flex; }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem; }
  .ft-legal-list li:nth-last-child(2) {
    flex: 1; }

.ft-social {
  padding: 0 1.875rem 1.25rem; }
  .ft-social li {
    margin: 0.5rem;
    font-size: 1.25rem; }

@media screen and (max-width: 1024px) {
  #subscribite {
    display: none; } }

@media screen and (max-width: 780px) {
  #subscribite {
    display: none; } }

@media screen and (max-width: 480px) {
  #subscribite {
    display: none; } }
