//Estilos del body
html {
  font-family: "Roboto Condensed", sans-serif;
}

//Se aplican listas

.titulos {
    text-decoration: none;
    padding: 1em;
    font-size: nth($size,2);
    color:$color_letra_negro;
  }

  //Se aplica maps
  .mediana {
    font-weight: map-get($estilos_fuentes, mediana);
  }  
  .margen-izquierdo {
    margin-left: map-get($estilos_fuentes, margen-izquierdo);
  }  
  .centrar {
    text-align: map-get($estilos_fuentes, centrar);
  }

  .texto {
    margin: nth($size,1);
    text-align: map-get($estilos_fuentes, justificar );
  }

  .texto::first-letter {
    font-size: 130%;
    font-weight: 600;
  }  
  
  .titulos-secciones {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
  }
  
  .logo {
    text-decoration: none;
    font-size: 2em;
    color: black;
    margin: 15px;
    font-weight: bolder;
    white-space: nowrap;
  }