// VARIABLES DE COLORES 

$color_principal: #5628ba;
$color_links: #fcf6f6;
$color_links_hover:  #68626f;
$color_fondo_btn:  #fcf6f6;
$color_letra_negro:black;
$color_gradiente_footer:linear-gradient(to bottom, #5628ba, #7c5dbe);
$color-encabezado-podcast: #bd3e3e;
$color-encabezado-fotografia: #2e6464;
$color-encabezado-literatura: #250bbb;